#map {
  position: absolute;
  top: 56px;
  bottom: 0px;
  width: 100%;
  margin: 0;
  margin-bottom: 50px;
}

#control-container {
  position: absolute;
  top: 71px;
  left: 15px;
  width: 440px;
  height:450px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 10px #404040;
}

#spatial-select {
  margin: 15px;
  width: 375px;
}

.header {
  text-shadow: 1px 1px 3px #d8d8d8;
}

.btn-custom {
  width: 180px;
}

.marker {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b0/Simpleicons_Places_map-marker-1.svg');
  /* filter: invert() sepia() saturate(10000%) hue-rotate(30deg); */
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 80%;
  }
}
