<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>AltEx2.0</title>
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
	<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.js"></script>
	<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.css" rel="stylesheet" />
	<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
	<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css' />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" type="text/css" />


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">


</head>

<body>
	<div id="map"></div>
	<div id="control-container">
		<form>
			<p class="h4 mb-4 header">Altimetry Explorer 2.0</p>
		  <div class="row">
		    <div class="col">
					 <label for="start-picker" class="col-sm-12 col-form-label">Start Date:</label>
		      <input id="start-datepicker" width="150" />
		    </div>
		    <div class="col">
					<label for="end-picker" class="col-sm-12 col-form-label">End Date:</label>
		      <input id="end-datepicker" width="150" />
		    </div>
		  </div>
			<br />
			<div class="row">
				<label for="spatial-select" class="col-sm-12 col-form-label">Select Spatial Extent</label>
				<div class="btn-group-vertical btn-group-toggle" data-toggle="buttons" id="spatial-select">
			  <label class="btn btn-secondary active">
			    <input type="radio" name="options" id="option1" checked>
					<span class="fas fa-globe"></span> Use current map extent
			  </label>
				<label class="btn btn-secondary">
			    <input type="radio" name="options" id="option1">
					<span class="fas fa-map"></span> Countries
			  </label>
			  <label class="btn btn-secondary">
			    <input type="radio" name="options" id="option2">
					<span class="fas fa-map-marker-alt"></span> Surface Observation Sites
			  </label>
				<label class="btn btn-secondary">
			    <input type="radio" name="options" id="option1">
					<span class="fas fa-draw-polygon"></span> Draw Geometry
			  </label>
				</div>
				</div>
			<!-- </div> -->
			<hr />
			<div class="row">
				<label for="satellite-selection" class="col-sm-12 col-form-label">Satellite Product Selection</label>
				<select class="form-control form-compact" id="satellite-selection">
					<option>Jason1</option>
          <option>Jason2</option>
          <option>Jason3</option>
          <option>SARAL</option>
				</select>
			</div>
			<hr />
			<div class="row">
				<div class="col">
					<button type="button" class="btn btn-success btn-custom">
						<span class="fas fa-cloud-download-alt" aria-hidden="true"></span> Fetch Data
					</button>
				</div>
				<div class="col">
					<button type="button" class="btn btn-primary btn-custom">
						<span class="fas fa-external-link-alt" aria-hidden="true"></span> Open in Playground
					</button>
				</div>
			</div>
		</form>


	</div>
  <script src="{{ url_for('static', filename='js/map.js') }}"></script>

</body>

</html>
